*{
    padding:0;
    margin:0;
    font-size:40px;
    font-family:'poppins' , sans-serif;
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


#code-icon img{
    width:30px;
    height:auto;
}
.nav-bar{
    font-size:30px;
    color:rgb(6, 49, 49);
    padding:20px;
    z-index:3000;
}
.nav-bar h3{
    font-size:50px;
    padding:20px;
    font-family:'The Nautigal';
}
.nav-bar p{
    font-size:20px;
    position:relative;
    left:30em;
}
.nav-toggle{
    float:right;
    display:none;
}
.nav-toggle img{
    width:10px;
    height:auto;
    padding:10px;
}
.nav-close{
    display:none;
}
nav ul{
    display:flex;
    flex-direction:row;
    justify-content: center;
    position:relative;
    bottom:7em;
}
nav ul li{
    list-style:none;
}
nav ul li a{
    font-size:20px;
    padding:0 30px;
    text-decoration:none;
    color:rgb(0, 49, 0);
    font-weight:500;
}
nav ul li a:hover{
    color:green;
}
.telephone-btn{
    display:flex;
    flex-direction:row;
    position:relative;
    bottom:6em;
    left:19em;
}
.telephone-btn p{
    position:absolute;
    left:40px;
    padding:10px;

}
.telephone-btn img{
   
}
.telephone-button{
    padding:10px;
    border-radius:30px;
    border:none;
    box-shadow:9px 9px 16px rgba(163,177,198,0.6) , -10px -10px 15px rgba(255,255,255,0.5);
    transition:.5s ease-in-out;
}
.telephone-button:hover{
    box-shadow:9px 9px 16px rgba(163,177,198,0.6) , -10px -10px 15px rgba(255,255,255,0.5);
    transform:translateY(-10px);
    cursor:pointer;
}
.home-bar img{
    width:100%;
    z-index:500;
}
@media(max-width:425px){
    body{
        background:rgb(236, 236, 255);
    }
    .code-icon{
        align-items: center;
        z-index:3000;
    }
    @keyframes spin{
        0%{
            transform:rotate(0deg);
        }
        100%{
            transform:rotate(360deg);
        }
    }
    #code-icon img{
        width:30px;
        z-index:3000;
    }
    .nav-bar h3{
        color:rgb(70, 70, 131);
        font-size:40px;
        font-family: 'The Nautigal', cursive;
        border-bottom:1px #ccc solid;
        padding-bottom:10px;
    }
    .nav-bar h1{
        color:rgb(6, 49, 49);
        padding:20px;
    }.nav-bar p{
        color:rgb(6, 49, 49);
        font-size:20px;
        padding:20px;
    }

    .nav-toggle{
        float:right;
        position:relative;
        right:10px;
        bottom:300px;
        border:none;
        margin:10px;
        transition:.5s ease-in-out;
        background:white;
        box-shadow:0 10px 15px rgba(0,0,0,0.3);
        padding:10px;
        margin:0;
        width:40px;
        height:40px;
        display:flex;
        align-items: center;
        justify-content: center;
        border-radius:20px;
        z-index:2000
    }
    .nav-toggle img{
        width:20px;
        height:20px;
    }
    .nav-menu{
        width:100%;
        height:536px;
        position:fixed;
        top:-100%;
        right:0;
        left:0;
        background:hsl(0 0% 100% / 0.1);
        backdrop-filter:blur(.5rem);
        z-index:9999;
        overflow:hidden;
        transition:.5s ease-in-out;
    }
    nav{
        padding:10px;
    }
    nav ul li{
        list-style:none;
    }
    nav ul li a{
        text-decoration:none;
        color:black;
        font-size:20px;
    }
    nav ul li a:hover{
        color:burlywood;
    }
    .nav-close{
        float:right;
        position:relative;
        top:5px;
        right:25px;
        border:none;
        background:transparent;
        margin:10px;
        transition:.5s ease-in-out;
    }
    .nav-close img{
        width:20px;
        height:20px;
    }
    .show-menu{
        top:0;
    }
    .home-bar img{
        width:375px;
        position:relative;
        z-index:1000;
    }
    .home-bar h1{
        position:relative;
        text-align: center;
        color:rgb(51, 51, 80);
        z-index:4000;
    }
    .home-bar p{
        font-size:15px;
        padding:20px;
        font-weight:700;
        color:rgb(51, 51, 80);
    }
    .home-bar span{
        display:grid;
        grid-template-columns:50% 50%;
    }
    .home-bar span h2{
        padding:10px;
        text-align:center;
    }
    .home-bar span p{
        text-align:center;
        border-bottom:1px #ccc solid;
    }
    .portfolio{
        display:flex;
        flex-direction:row;
        padding:20px;
        border:1px #ccc 
    }
    .portfolio img{
        width:40px;
        color:white;
        padding:5px;
        border-radius:30px;
        height:40px;
    }
    #portfolio-1 img{
        background:rgb(10, 202, 10);
    }
    #portfolio-2 img{
        background:yellow;
    }
    #portfolio-3 img{
        background:red;
    }
    .portfolio h3{
        font-size:15px;
        padding:10px;
    }
    .portfolio p{
        font-size:15px;
        padding:10px;
    }
}
@media(max-width:200px){
    .nav-menu{
        width:200px;
        height:auto;
    }
}
