*{
    padding:0;
    margin:0;
    font-size:40px;
    font-family:'poppins' , sans-serif;
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.code-icon img{
    width:10px;
    height:auto;
}
.nav-toggle{
    float:right;
}
.nav-toggle img{
    width:10px;
    height:auto;
    padding:10px;
}
@media(max-width:375px){

    .code-icon{
        align-items: center;
        z-index:3000;
    }
    @keyframes spin{
        0%{
            transform:rotate(0deg);
        }
        100%{
            transform:rotate(360deg);
        }
    }
    .code-icon img{
        width:30px;
        animation:spin 10s linear infinite;
        z-index:3000;
    }
    .nav-toggle{
        float:right;
        position:relative;
        right:10px;
        top:0;
        border:none;
        margin:10px;
        transition:.5s ease-in-out;
        background:burlywood;
        padding:10px;
        margin:0;
        width:40px;
        height:40px;
        display:flex;
        align-items: center;
        justify-content: center;
        border-radius:5px;
        z-index:2000
    }
    .nav-toggle img{
        width:30px;
        height:30px;
    }
    .nav-menu{
        width:100%;
        height:536px;
        position:fixed;
        top:-100%;
        right:0;
        left:0;
        background:hsl(0 0% 100% / 0.1);
        backdrop-filter:blur(.5rem);
        z-index:9999;
        overflow:hidden;
        transition:.5s ease-in-out;
    }
    nav{
        padding:10px;
    }
    nav ul li{
        list-style:none;
    }
    nav ul li a{
        text-decoration:none;
        color:black;
        font-size:20px;
    }
    nav ul li a:hover{
        color:burlywood;
    }
    .nav-close{
        float:right;
        position:relative;
        bottom:10px;
        right:10px;
        border:none;
        background:transparent;
        margin:10px;
        transition:.5s ease-in-out;
    }
    .nav-close img{
        width:20px;
        height:20px;
    }
    .show-menu{
        top:0;
    }
    .home-bar img{
        width:375px;
        position:relative;
       
        z-index:1000;
    }
    .home-bar h1{
        position:relative;
        bottom:7em;
        text-align: center;
        color:white;

    }
}
@media(max-width:200px){
    .nav-menu{
        width:200px;
        height:auto;
    }
}
