*{
    padding:0;
    margin:0;
    font-size:40px;
    font-family:'poppins' , sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.code-icon img{
    width:10px;
    height:auto;
}
.nav-toggle{
    float:right;
}
.nav-toggle img{
    width:10px;
    height:auto;
    padding:10px;
}
@media(max-width:375px){

    .code-icon{
        align-items: center;
    }
    .code-icon img{
        width:30px;
    }
    .nav-toggle{
        float:right;
        border:none;
        margin:10px;
        transition:.5s ease-in-out;
        background:white;
    }
    .nav-toggle img{
        width:30px;
        height:30px
    }
    .nav-menu{
        width:375px;
        height:536px;
        position:absolute;
        top:-100%;
        right:0;
        background:hsl(0 0% 100% / 0.1);
        backdrop-filter:blur(.5rem);
        z-index:9999;
        overflow:hidden;
        transition:.5s ease-in-out;
    }
    nav ul li{
        list-style:none;
    }
    nav ul li a{
        text-decoration:none;
        color:black;
        font-size:20px;
    }
    .nav-close{
        float:right;
        border:none;
        background:transparent;
        margin:10px;
        transition:.5s ease-in-out;
    }
    .nav-close img{
        width:20px;
        height:20px;
    }
    .show-menu{
        top:0;
    }
    .home-bar img{
        width:375px;

    }
    .home-bar h1{
        position:relative;
        bottom:7em;
        text-align: center;
        color:white;

    }
}
